{% extends "stock/incomplete_tv.html" %}
{% load humanize %}


{% block tablistclass %}class="active"{% endblock tablistclass %}

{% block stock_content %}
	<form id="table-form" class="form-inline" action="{% url 'stock:stockin' %}" method="post">
	{% csrf_token %}
	{% block indate %}
	<div class="form-group" style="display: inline;">
		<label class="control-label">입고일자 지정:{{ form.indate }}</label>
		<a id="btn-print" class="btn btn-default btn-sm">출력<span class="glyphicon glyphicon-print"></span></a>
		<a class="btn btn-default btn-sm" data-target="#updateModal" data-toggle="modal">메일<span class="glyphicon glyphicon-envelope"></span></a>
	</div>
	{% endblock indate %}
	
	<div class="modal fade" id="updateModal">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>미입고 항목 메일로 보내기</h3>
			</div>
				
			<div class="modal-body">
				<h4 class="modal-title">받는 도매상</h4>
				<p>{{ info_form.account }}</p>
				<p><textarea id="mail-content" maxlength="50" placeholder="전달사항"></textarea>
				
			</div>
			<div class="modal-footer">
				<button id="btn-mail" type="button" class="btn btn-default" data-dismiss="modal">보내기</button>
			</div>
		</div>
		</div>
	</div>

	<table class="tablesorter">
		<thead>
			<tr>
				<th>연번</th>
				<th>발주번호</th>
				<th>거래처</th>
				<th>제약회사</th>
				<th>약품명</th>
				<th>발주수량</th>
				<th>기입고수량</th>
				<th>입고수량</th>
				<th>기타구분</th>
				<th width="80px;">단가</th>
				
				<th>마감</th>
			</tr>
		</thead>
		<tbody>
		{% for buyitem in object_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a class="buyNum">{{ buyitem.buy }}</a></td>
				<td>{{ buyitem.drug.account }}</td>
				<td>{{ buyitem.drug.firm }}</td>
				<td>{{ buyitem.drug }}</td>
				<td>{{ buyitem.amount }}</td>
				<td>{{ buyitem.stockin_amount }}</td>
				<td>
					<input type="number" name="{{ buyitem.pk }}" min="0" max="{{ buyitem.incomplete_amount }}" step="{{ buyitem.drug.pkg_amount }}" togle="{{ buyitem.drug.pkg_amount }}">
				</td>
				<td>{{ buyitem.drug.etc_class }}</td>
				<td style="background-color: #f3e8c0;">
					{% if buyitem.drug.price == 0 %}
					<input type="number" name="{{ buyitem.pk }}price", value="{{ buyitem.drug.price }}" tabindex="-1">
					{% else %}
					{{ buyitem.drug.price|intcomma }}
					{% endif %}
				</td>
				
				<td><input type="checkbox" name="{{ buyitem.pk }}end" tabindex="-1"></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
			<input type="submit" value="입고잡기" style="">
	</form>

	<script>

	$('#btn-print').click(function(){
		popurl = window.location.href.replace('result','print')
		window.open(popurl, 'pop1', 'width=700, height=1000, left=100, top=100, scrollbars=no, toolbars=no, location=no')
	})
	$('#btn-mail').click(function(){
		red_url = window.location.href.replace('result','mail')
		window.location.href = red_url + "&account=" + $('#id_account').val() +"&content=" + $('#mail-content').val()
	})

	  $('table input[type=number]').keydown(function(event){

	  		// alert(event.keyCode)
			var cur_val = $(this).val()
			var step = $(this).attr('step')
			var max = $(this).attr('max')
	  		
     		if(event.keyCode===32 ){
     			$(this).val(max)
     		}else if(event.keyCode===87){
     			var new_val = cur_val*1 + step*1
     			if(new_val <= max){
	     			$(this).val(new_val)
     			}
     		}else if(event.keyCode===83){
     			var new_val = cur_val*1 - step*1
     			if(new_val >= 0){
     				$(this).val(new_val)
     			}
     		}
     		else{
     			return true
     		}
	  })
	  $('[name$=end]').click(function(){
			
  			var id_end= $(this).attr('name')
  			var backup = $(this).attr('togle')
  			var id = parseInt(id_end)

	  		if($(this).is(':checked')){
	  			$('input[name='+id+']').attr('step',1)
	  		}else{
	  			$('input[name='+id+']').attr('step', backup)
	  		}
	  })

	</script>
{% endblock stock_content %}
