{% extends "home.html" %}


{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/third.css" %}">
<style type="text/css">
	table.list  td {
		font-size: 20px;
	}
	table.inner td, table.inner{
		font-size: 15px;
	}
	table.collect-info td, table.collect-info {
		font-size: 15px;
	}
	[class^=collect-list], li.collect-list.a {
		cursor: cell;
	}

</style>

<div class="container-fluid">
<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h5 class="panel-title">
					<span class="glyphicon glyphicon-scissors"></span>집게의역사
				</h5>
			</div>
			<div class="panel-body">
				<div class="row">
					<ul class="list-group">	
						<li class="collect-list-header list-group-item"><span class="glyphicon glyphicon-plus">집계생성</span></li>
					{% for collect in collect_history_list %}
						<li class="collect-list list-group-item" url="{{ collect.url }}" onclick="location.href='{{ collect.url }}'">{{ collect.description }}</li>
					{% endfor %}
					</ul>
				</div>
				<div class="row" align="right">
					<div class="col-xs-12">
						<button class="btn btn-danger" data-target="#modal-history-delete" data-toggle="modal"><span class="glyphicon glyphicon-trash">비우기</span></button>
						{% include "orderutils/label_history_delete_confirm.html" %}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-xs-9">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-tag">라벨집계</span>
				</h3>
			</div>
			<div class="panel panel-body">
				<div class="row">
				{% if now_history %}
					<div class="col-xs-12" >
						<div id="print-date-info">
							<table class="tablesorter collect-info" width="100%" >
								<tr>
									<th style="text-align: center; border: 1px solid black;">처방일자</th>
									<th style="text-align: center; border: 1px solid black;">처방구분</th>
									<th style="text-align: center; border: 1px solid black;">집계일시</th>
									<th style="text-align: center; border: 1px solid black;">집계병동</th>
								</tr>
								<tr>
									<td style="text-align: center; border: 1px solid black;">{{ form.ord_start_date.value }} ~ {{ form.ord_end_date.value }}</td>
									<td style="text-align: center; border: 1px solid black;">{{ ord_type }}</td>
									<td style="text-align: center; border: 1px solid black;">{{ form.start_t.value }} ~ {{ form.end_t.value }}</td>
									<td style="text-align: center; border: 1px solid black;">{{ form.ward.value }}</td>
								</tr>
								<tr>
									<th colspan="2" style="text-align: center; border: 1px solid black;">접수시간 범위</th>
									<td colspan="2" style="text-align: center; border: 1px solid black;">{{ object_list.0.rcpt_dt_min }} ~ {{ object_list.0.rcpt_dt_max }}</td>
								</tr>
							</table>
							<hr>
						</div>
					</div>
					<div class="row" align="center">
						<button class="btn btn-success" id="btn-print" type="button">인쇄<span class="glyphicon glyphicon-print"></span></button>
					</div>
				{% else %}
				<form name="show" method="post" class="form-inline" action="{% url 'orderutils:labelcollect' %}">
					{% csrf_token %}
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label >처방일자:{{ form.ord_start_date }}</label>~
								<label>{{ form.ord_end_date }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>접수일시:{{ form.start_t }}</label>~
								<label>{{ form.end_t }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-xs-12">
								<label>집계병동:{{ form.ward }}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="btn-group">
							<div class="col-xs-12">	
								<label>
								처방구분
								<div class="radio">
								{% for choice in form.ord_tp %}
									<label class="btn">{{ choice.tag }}{{ choice.choice_label }}</label>
								{% endfor %}
								</div>
								</label>
							</div>
						</div>						
					</div>
					<hr>
					<div class="row" align="center">
						<div class="col-xs-10">
							<div class="btn btn-group">
							<button class="btn btn-success">집계<span class="glyphicon glyphicon-download-alt"></span></button>
							</div>
						</div>
					</div>
					
				</form>
				{% endif %}
				</div>
			</div>
		
			<div class="panel-footer">
				<div class="row">
					{% if object_list %}		
					<table class="list" border="1" width="100%">
						<thead>
							<th align="center" width="150px;">약품코드</th>
							<th style="text-align: center" width="400px;"><a class="show-detail-all" href="javascript: return false;" show="true">약품명</a></th>
							<th style="text-align: center">집계량</th>
							<th style="text-align: center">단위</th>
							<th style="text-align: center">건수</th>
						</thead>
						<tbody>
							{% for object in object_list %}
							<tr>
								<td>{{ object.ord_cd }}</td>
								<td><a class="show-detail" id="{{ object.ord_cd }}" href="javascript: return false;">{{ object.drug_nm }}</a></td>
								<td align="center">{{ object.total_amt_sum }}</td>
								<td align="center">{{ object.ord_unit_nm }}</td>
								<td align="center">{{ object.drug_nm_count }}</td>
							</tr>
							<tr>
								<td></td>
								<td colspan="3">
									<div class="detail" id="detail-{{ object.ord_cd }}" style="display: none;">
										<table class="inner tablesorter" border="1">
											<thead>
												<tr>
													<th style="text-align: center;">처방일자</th>
													<th style="text-align: center;">병동</th>
													<th style="text-align: center;">처방번호</th>
													<th style="text-align: center;">환자번호</th>
													<th style="text-align: center;">환자명</th>
													<th style="text-align: center;">1회량</th>
													<th style="text-align: center;">횟수</th>
													<th style="text-align: center;">일수</th>
													<th style="text-align: center;">총량</th>
													{% if object.sub_object_list.0.amt_vol %}
													<th>조제량환산</th>
													{% endif %}
													<th style="text-align: center;">접수일시</th>
												</tr>
											</thead>
											<tbody>
												{% for obj in object.sub_object_list %}
													<tr>
														<td align="center">{{ obj.ord_ymd }}</td>
														<td align="center">{{ obj.ward|slice:"2" }}</td>
														<td align="center">{{ obj.medi_no }}</td>
														<td align="center">{{ obj.ptnt_no }}</td>
														<td align="center">{{ obj.ptnt_nm }}</td>
														{# <td align="center">{{ obj.ord_frq }}</td> #}
														<td align="center">{{ obj.once_amt }}</td>
														<td align="center">{{ obj.ord_frq }}</td>
														<td align="center">{{ obj.ord_day }}</td>
														<td align="center">{{ obj.total_amt }}</td>
														{% if obj.amt_vol %}
														<td align="center">{{ obj.amt_vol }} {{ obj.함량단위1 }}</td>
														{% endif %}
														<td align="center">{{ obj.rcpt_dt }}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</td>
								<td></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}	
				</div>
			</div>
		</div>
		
	</div>

</div>
</div>
<script>
$(function(){

	// 인쇄
	$('#btn-print').click(function(event){
		var printArea = window.open('', 'pop1', 'width=900, height=500, left=200, top=200, scrollbars=no, toolbars=no, location=no')
		printArea.document.write('<head>')
		printArea.document.write($('head').html())
		printArea.document.write('</head>')
		printArea.document.write('<body>')
		printArea.document.write('<div class="container">')
		printArea.document.write('<h2>라벨집계표</h2>')
		printArea.document.write($('#print-date-info').html())
		printArea.document.write($('.panel-footer').html())
		printArea.document.write('</div>')
		printArea.document.write('</body>')
		printArea.document.write('<script>window.print();window.close();<\/script>')
	})

	// 처방구분별 마지막 집계시간
	const initial_start_t = $('#id_start_t').val()
	const initial_start_date = $('#id_ord_start_date').val()
	const initial_end_date = $('#id_ord_end_date').val()

	lastCollected = {
	{% for key, val in last_collect.items %}
		{{ key }}:"{{ val }}",
	{% endfor %}
	}


	$('[name=ord_tp]').click(function(){
		
		var last_collect = lastCollected[$(this).val()]
		var date = new Date()

		if($(this).val() === 'ch')
		{
			var today = date.toISOString().slice(0,10)
			$('#id_ord_start_date, #id_ord_end_date').val(today)

		}else{
			$('#id_ord_start_date').val(initial_start_date)
			$('#id_ord_end_date').val(initial_end_date)
		}
	

		if (last_collect) {
			$('#id_start_t').val(last_collect)
		}else{
			$('#id_start_t').val(initial_start_t)
		}
	})

	$('[value="st"]').trigger('click')


	// 약품명 클릭시 자세히보기 드롭다운
	$('.show-detail').click(function(){
		var id = $(this).attr('id');
		var selector = `#detail-${id}`
		$(selector).slideToggle()
		return false
	})
	$('.show-detail-all').click(function(){
		
		var show = $(this).attr('show')
		if(show === 'true') {
			$('.detail').slideDown()
			$(this).attr('show', 'false')
		}else {
			$('.detail').slideUp()
			$(this).attr('show', 'true')
		}
		return false
	})

	$('.collect-list').each(function(idx, elem){
		var selected = $(elem)
		var selected_url = selected.attr('url')
		if (selected_url == location.pathname) {
			selected.addClass('list-group-item-warning')
		}
	})

	// 집계 생성 마법사 화면으로 가기
	$('.collect-list-header').click(function(){
		location.href = "{% url 'orderutils:labelcollect' %}"
	})

	// 현재 선택된 집계 내역 표시하기
	if (location.pathname == "{% url 'orderutils:labelcollect' %}") {
		$('.collect-list-header').addClass('list-group-item-warning')
	}

	// setInterval(function(){
	// 	var time = new Date();
	// 	var iso = time.toISOString().replace('T', ' ').slice(0, 19)
	// 	var target = $('#id_end_t')
	// 	target.val(iso)
	// 	target.css('background-color', '#f3e8c0')
	// 	setTimeout(function(){
	// 		target.css('background-color', 'white')
	// 	}, 500)	

	// }, 1000)


})
</script>
{% include "tablesorter_js.html" %}
{% endblock content %}


